nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
    a.navbar-brand(href='#') SoMuchFun.com
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/news' class=`${title === "News Feed" ? "active" : ""}`) News 
            li.nav-item
                a.nav-link(href='/chat' class=`${title === "Chat" ? "active" : ""}`) Chat now
            li.nav-item
                a.nav-link(href='/game' class=`${title === "Pig Game" ? "active" : ""}`) Pig Game    
        .dropdown        
            .form-inline(style="margin-right: 170px !important")
                .input-group
                    .input-group-prepend
                        span#addon-wrapping.input-group-text.search-spinner(style="color: #fff; background-color: #17a2b8; border-color: #17a2b8")
                            i.fas.fa-search
                    input.form-control.mr-sm-2#search--field(autocomplete="off" type='text' placeholder='Search for people...' aria-label='Search' style="width: 350px !important" onkeyup="searchUsers(this.value)")
                .dropdown-menu#dropdown-search(aria-labelledby='dropdownMenuButton' style="width: 392px !important; padding: 0px !important")
                    p(style="margin: 8px! important; color: #17a2b8")
                        span#total-results
                        span.float-right#num_current-results
                    #search-results.mt-2
                    nav.mt-4#pagination_content(aria-label='Page navigation example' style="display: none; position: absolute; bottom: 0px; left: 50%; right: 50%")
                        ul.pagination.justify-content-center.pagination-sm
        div.mr-4(style="position: relative")                
            span#num_of_msgs.notif-navbar(style="display: none") 0
            a(href="/inbox")
                i.fas.fa-envelope(style="font-size: 36px; color: rgba(255,255,255,.5)")                        
        .dropdown.mr-2
            a#dropdownMenuLink.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                div
                    span#num_of_notif.notif-navbar(style="display: none") 0
                    i.fas.fa-bell#btn-notifications(style="font-size: 35px; color: rgba(255,255,255,.5)" onclick="regularStyleBtn(); hideSearchDrop();")
            .dropdown-menu.dropdown-menu-right.notifications-drop.mt-1(aria-labelledby='dropdownMenuLink')
                h5.mb-3 Your Notifications
                .list-group#notifications-list
        .btn-group.ml-4.mr-3
            button.btn.btn-info.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' onclick="hideSearchDrop();")
                span=`Logged in as ${userMe.firstName} ${userMe.lastName}`
                i.fas.fa-caret-down.ml-2
            .dropdown-menu.dropdown-menu-right.mt-1
                a.dropdown-item(type='button' href="/me")
                    i.fas.fa-user.mr-2
                    | My Profile
                a.dropdown-item(type='button' href="/inbox")
                    i.fas.fa-envelope.mr-2
                    | Messages    
                .dropdown-divider
                a.dropdown-item(type='button' onclick='logout()')
                    i.fas.fa-sign-out-alt.mr-2
                    | Log Out