extends base

block append head
    link(rel="stylesheet" href="/css/game_styles.css")

block content
    include _navbar
    .container-fluid
        .row#game-container(style='margin-top: 50px;')
            .col-lg-3#available_users-list
                .card
                    .card-header
                        span(style='font-size: 20px; font-weight: 400;') Available users
                    .card-body#card-users_game(style='padding: 10px !important;')
                        ul.list-group
                            each user in users
                                li.list-group-item.list-group-item-action(href='#' style='padding: 5px !important')
                                    a(href=`/profile/${user.id}`)
                                        img.mr-2(src=`/img/users/${user.profilePhoto}` alt='' width='50px' style='border-radius: 50%;')
                                    span.align-middle(style="font-size: 18px")= `${user.firstName} ${user.lastName}`
                                    button.btn.btn-sm.btn-danger.float-right.invite--btn(style='margin-top: 10px;' onclick=`sendGameRequest('${user._id}', this)`) Invite
            .col-lg-7#game-interface(style="display: none")
                div(style='width: 100%; height: 616px !important; background-color: rgb(168, 161, 161); padding: 8px;')
                    .row
                        .col-lg-6(style='border-right: 1px solid white; width: 100%; height: 600px !important; padding: 30px 40px;')
                            .row
                                .col-lg-12.text-center
                                    img.mr-2.mt-2#player1--img(src='http://placehold.it/50x50' alt='' style='border-radius: 50%;' width='60px')
                                    span.align-middle.mr-3#player1--name(style='font-size: 32px; font-weight: 500;') Nikola Jeremic
                                    span.align-middle#player1--active(style='font-size: 40px; color: green; display: none')
                                        i.fas.fa-hand-paper
                            .row.mt-4.mb-3
                                .col-lg-2
                                .col-lg-8
                                    .input-group
                                        .input-group-prepend
                                            span#basic-addon1.input-group-text(style='font-weight: 500; font-size: 18px;') SCORE
                                        input.form-control#player1--totalScore(type='text' style='background-color: whitesmoke !important; text-align: center;  padding: 0px !important; font-size: 18px; font-weight: 500;' value='50' aria-label='Username' aria-describedby='basic-addon1' disabled='')
                            .row
                                .col-lg-12.mt-5.dice-container
                                    .dice
                                        ol.die-list.even-roll#player1--dice(data-roll='1')
                                            li.die-item(data-side='1')
                                                span.dot
                                            li.die-item(data-side='2')
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='3')
                                                span.dot
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='4')
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='5')
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='6')
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                .col-lg-12
                                    p.text-center.mt-2#player1--roundScore(style='font-size: 50px; font-weight: 500; visibility: hidden;') 0
                            .row
                                .col-lg-3
                                .col-lg-6
                                    button#roll-button.btn.btn-danger.btn-block
                                        i.fas.fa-dice-six.mr-2
                                        | ROLL THE DICE
                            .row
                                .col-lg-3
                                .col-lg-6
                                    button.btn.btn-danger.btn-block.mt-3
                                        i.fas.fa-angle-double-down.mr-2
                                        | SET ROUND
                        .col-lg-6(style='width: 100%; height: 600px !important; padding: 30px 40px;')
                            .row
                                .col-lg-12.text-center
                                    img.mr-2.mt-2#player2--img(src='http://placehold.it/50x50' alt='' style='border-radius: 50%;' width='60px')
                                    span.align-middle.mr-3#player2--name(style='font-size: 32px; font-weight: 500;') Nikola Jeremic
                                    span.align-middle#player2--active(style='font-size: 40px; color: green; display: none')
                                        i.fas.fa-hand-paper
                            .row.mt-4.mb-3
                                .col-lg-2
                                .col-lg-8
                                    .input-group
                                        .input-group-prepend
                                            span#basic-addon1.input-group-text(style='font-weight: 500; font-size: 18px;') SCORE
                                        input.form-control#player2--totalScore(type='text' style='background-color: whitesmoke !important; text-align: center;  padding: 0px !important; font-size: 18px; font-weight: 500;' value='50' aria-label='Username' aria-describedby='basic-addon1' disabled='')
                            .row
                                .col-lg-12.mt-5.dice-container
                                    .dice
                                        ol.die-list.even-roll(data-roll='1')
                                            li.die-item(data-side='1')
                                                span.dot
                                            li.die-item(data-side='2')
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='3')
                                                span.dot
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='4')
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='5')
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                            li.die-item(data-side='6')
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                                span.dot
                                .col-lg-12
                                    p.text-center.mt-4#player2--roundScore(style='font-size: 50px; font-weight: 500; visibility: hidden;') 0            
            .col-lg-3                                                                
        include _post-modals
block scriptFile
    script(src="/js/functions.js")
    script(src="/js/post.js")
    script(src="/js/game.js")  