extends base

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet')

block content
    include _navbar
    .container(style='margin-top: 50px;')
    span#currentUserData(data-current-user=`${JSON.stringify(userMe)}`)
        .row.mb-5#map-row
            .col
            .col-8
                .card
                    .card-body#append-map(style="padding: 5px !important")
                        #map(style="width: 100%; height: 400px")
            .col
        .row
            .col
            .col-7
                .card
                    .card-body(style="padding: 20px 20px 0px 20px !important")
                        h1.card-title.mb-4 
                            | News feed
                            button.btn.btn-secondary.float-right.mt-2(onclick="hideMap(this)") 
                                i.fas.fa-map-marked-alt.mr-2
                                | Hide map    
                        each post in posts
                            .row
                                .col-lg-12.mb-5
                                    .card.shadow-sm
                                        .card-header(style='padding: 5px !important;')
                                            p.align-middle(style='margin-bottom: 0px !important')
                                                img(src=`/img/users/${post.user.profilePhoto}` alt='' width='50px' style='border-radius: 50%;')
                                                a(href=`/profile/${post.user._id}` class="comment-userName ml-2" style=' font-size: 20px; font-weight: 500;')= `${post.user.firstName} ${post.user.lastName}`
                                                - if (post.description) 
                                                    span(style='font-size: 17px')= ` - ${post.description}`
                                                span.float-right.text-muted(style="margin-top: 12px; margin-right: 5px; font-size: 14px")= `${post.createdAtModified}`    
                                        img#img01.card-img-top(src=`/img/posts/${post.content}` width='100%' height='500px' style='object-fit: cover; border-radius: 0px !important;')
                                        .card-body(style='padding: 5px !important;')
                                            - if (post.likes.length === 0)
                                                button.btn.btn-info.btn-sm.mr-1(id=`btn-num_likes-${post.id}` onclick=`getLikes('${post.id}')` data-target=`#modal_likes` data-toggle='modal' disabled)= `${post.likes.length} likes`
                                            - if (post.likes.length > 0)
                                                button.btn.btn-info.btn-sm.mr-1(id=`btn-num_likes-${post.id}` onclick=`getLikes('${post.id}')` data-target=`#modal_likes` data-toggle='modal')= `${post.likes.length} likes`
                                            button.btn.btn-outline-info.btn-sm(id=`btn-num_comments-${post.id}` type='button' data-toggle='collapse' data-target=`#collapse_comments-${post.id}`)= `${post.comments.length} comments`
                                            - if (post.likedByMe === true)
                                                button.btn.btn-secondary.float-right.btn-sm(disabled)
                                                    i.fas.fa-thumbs-up.mr-1
                                                    span Liked
                                            - if (post.likedByMe === false)
                                                button.btn.btn-secondary.float-right.btn-sm(onclick=`likePost('${post.id}', this)`)
                                                    i.far.fa-thumbs-up.mr-1
                                                    span Like                                                
                                            button.btn.btn-outline-secondary.float-right.btn-sm.mr-2(type='button' data-toggle='collapse' data-target=`#collapse_addComment-${post.id}`)
                                                i.far.fa-comment-dots
                                                |  Comment
                                            .collapse.mt-3(id=`collapse_addComment-${post.id}`)
                                                .card.card-body(style='padding: 5px !important;')
                                                    .row
                                                        .col-lg-1
                                                            img.mr-3(src=`/img/users/${userMe.profilePhoto}` alt='' width='50px' style='border-radius: 50%;')
                                                        .col-lg-11
                                                            input.form-control.form-control-sm.mt-2(id=`comment_input-${post.id}` type='text' placeholder='Write comment...')
                                                    .row
                                                        .col-lg-12
                                                            button.btn.btn-primary.btn-sm.float-right(onclick=`commentPost('${post.id}')`) Add comment
                                            .collapse.mt-3(id=`collapse_comments-${post.id}`)
                                                .card.card-body.collapse-comments(style='padding: 5px !important;' id=`comments_list-${post.id}`)
                                                    - if (post.comments.length > 0)
                                                            each comment in post.comments
                                                                .row.mb-2(style="margin-left: 0px !important; margin-right: 0px !important; padding: 5px; border: 1px solid rgba(0,0,0,.125); border-radius: 5px")
                                                                    .col-lg-1.mr-2(style="padding: 5px !important")
                                                                        img.mr-3(src=`/img/users/${comment.user.profilePhoto}` alt='' width='70px' style='border-radius: 50%;')
                                                                    .col-lg-10
                                                                        p(style='font-weight: 600; font-size: 17px; margin-bottom: 3px !important;')
                                                                            a(href=`/profile/${comment.user._id}` class="comment-userName")= `${comment.user.firstName} ${comment.user.lastName}`
                                                                        p(style='font-weight: 400; margin-bottom: 3px !important; font-size: 15px')= `${comment.comment}`
                                                    - if (post.comments.length == 0)
                                                        .row
                                                            .col-lg-12
                                                                p.text-center.text-muted(style="margin: 0px !important; font-size: 18px; font-weight: 600") No comments to show.                
            .col
    include _post-modals                              
block scriptFile
    script(src="/js/news.js")
    script(src="/js/functions.js")
    script(src="/js/post.js")            