extends base

block content
    include _navbar
    .container.mt-5
        span(data-user_photo=`${user.profilePhoto}` id="user-pr_photo")
        .col-lg-12
            .card.profile-content(style='width: 100%;')
                .card-body
                    h1.card-title.mb-4.align-middle(style="margin-bottom: 0px")= `${title === "My Profile" ? "My Profile" : user.firstName + "'s profile"}`
                    .row
                        .col-lg-4
                            img.img-fluid.img-thumbnail(src=`/img/users/${user.profilePhoto}` alt=`${user.firstName}-photo`)
                            - if (title === "My Profile")
                                button.btn.btn-link.mt-2.btn-sm(type='button' data-toggle='modal' data-target='#photo_modal')
                                    | Change Profile Photo
                        - if (title === "My Profile")            
                            .col-lg-5.profile-info(style="padding-right: 50px")
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text(style="font-weight: 600") First Name
                                    input.form-control(type='text' value=`${user.firstName}` disabled='true' aria-label='Username' style="background-color: #fff")
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text(style="font-weight: 600") Last Name
                                    input.form-control(type='text' value=`${user.lastName}` disabled='true' aria-label='Username' style="background-color: #fff")
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text(style="font-weight: 600") Email 
                                    input.form-control(type='text' value=`${user.email}` disabled='true' aria-label='Username' style="background-color: #fff")
                                - if (user.dateOfBirth)        
                                    .input-group.mb-3
                                        .input-group-prepend
                                            span.input-group-text(style="font-weight: 600") Date of birth
                                        input.form-control(type='text' disabled='true' aria-label='Username' value=`${user.birthday}` style="background-color: #fff")
                        - if (title === "Profile")
                            .col-lg-8.profile-info(style="padding: 0px 100px 0px 100px")
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text(style="font-weight: 600") First Name
                                    input.form-control(type='text' value=`${user.firstName}` disabled='true' aria-label='Username' style="background-color: #fff")
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text(style="font-weight: 600") Last Name
                                    input.form-control(type='text' value=`${user.lastName}` disabled='true' aria-label='Username' style="background-color: #fff")
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text(style="font-weight: 600") Email 
                                    input.form-control(type='text' value=`${user.email}` disabled='true' aria-label='Username' style="background-color: #fff")
                                - if (user.dateOfBirth)        
                                    .input-group.mb-3
                                        .input-group-prepend
                                            span.input-group-text(style="font-weight: 600") Date of birth
                                        input.form-control(type='text' disabled='true' aria-label='Username' value=`${user.birthday}` style="background-color: #fff")                        
                        - if (title === "My Profile")            
                            .col-lg-3
                                button.btn.btn-light.btn-sm.float-right.btn-block(style='margin-top: 200px;' data-toggle='modal' data-target='#add-photo_modal')
                                    i.fas.fa-images
                                    |  Add New Photo
                                button.btn.btn-light.btn-sm.float-right.btn-block.mt-3(data-toggle='modal' data-target='#password_modal')
                                    i.fas.fa-key
                                    |  Update Password
                                button.btn.btn-light.btn-sm.float-right.mt-3.btn-block(data-toggle='modal' data-target='#info_modal')
                                    i.fas.fa-users-cog
                                    |  Update Profile
                    .row
                        .col-lg-12.mt-3
                            ul#myTab.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a#home-tab.nav-link.active(style="color: #007bff" data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true')= `${title === "My Profile" ? "My photos" : user.firstName + "'s photos"}`
                            #myTabContent.tab-content
                                #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
                                    .row
                                        - if (user.posts.length > 0)
                                            each post in user.posts
                                                .col-lg-3.mb-4
                                                    div.post-container(onclick=`getPostDetails('${post.id}')`)
                                                        img(src=`/img/posts/${post.content}` alt='...' id=`photo-${post.id}`
                                                        width='230px' height='230px' style='object-fit: cover')
                                        - if (user.posts.length === 0)
                                            - if (title === "My Profile")
                                                .col-lg-12
                                                    h5.text-center.mt-2(style="font-weight: 400") You don't have any photos yet! 
                                                        a(data-toggle='modal' data-target='#add-photo_modal' href="#") Click here to add photo. 
                                            - if (title === "Profile")  
                                                .col-lg-12
                                                    h5.text-center.mt-2(style="font-weight: 400")= `${user.firstName} doesn't have any photos yet!`                       
                                #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')       
    include _profile-modals
    include _post-modals                    
block scriptFile
    - if (title === "My Profile")
        script(src="/js/profile.js")
    script(src="/js/post.js")
    script(src="/js/functions.js")